<%- include('bootheader') -%>
<%- include('menubar') -%>
    <h1><%= problemSet.name %></h1>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Student</th>
                <% for(i = 0; i<= problems.length-1; i++){  %>
                        <th> <a href="/showProblem/<%= problems[i]._id %>">
                            P<%= i %><br> <%= problems[i].points %>

                        </a></th>
                <% } %>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            <% for(i = 0; i< studentsInfo.length; i++){
                psetScore = 0
                %>
                <tr>
                    <td><%= studentsInfo[i].googleemail %>

                    </td>
                    <% for(j = 0; j<= problems.length-1; j++){
                        // find the scores of the reviews of this problem
                     const studentAnswers =
                         answers.filter(a =>{
                             return a.studentId.equals(studentsInfo[i]._id) &&
                                    a.problemId.equals(problems[j]._id)
                         })
                     console.log(`\n\n${i} ${j} studentAnswers= ${JSON.stringify(studentAnswers)}`)



                     const grades =
                        taReviews
                          .filter(
                           r =>{
                               let zz = (r.problemId && r.problemId.equals(problems[j]._id))
                                   && (r.studentId && r.studentId.equals(studentsInfo[i]._id))
                                   //console.log(`${zz} ${i} ${j} ${r.problemId} ${problems[j]._id} ${studentsInfo[i]._id} ${r.studentId}`)

                               return(zz)
                           })
                           answerId = null
                           if (grades.length>0) {
                             answerId = grades[0].answerId
                           }



                        %>
                            <td>
                                <% if (studentAnswers.length == 0){ %>
                                    No answer to review

                               <% } else if (!answerId) { %>
                                    <a href="/gradeProblem/<%= problems[j]._id %>/<%= studentsInfo[i]._id  %>">
                                    No TA reviews yet
                                    </a>
                                <% } else { %>

                                <a href="/showReviewsOfAnswer/<%= answerId %>">
                                    <% let scores = grades.map((r) => r.points)
                                       let avgScore =
                                            Math.ceil(
                                                scores.reduce((a,b) => a + b, 0)/scores.length
                                                )
                                       psetScore += avgScore
                                    %>
                                    <%= JSON.stringify(scores) %> <br>
                                    <%=  avgScore %>
                                </a>
                                <% } %>
                            </td>
                    <% } %>
                    <td> <%= psetScore %> </td>
                </tr>
            <% } %>

        </tbody>
    </table>



    <hr>
    <% if (courseInfo.ownerId.equals(user._id)){ %>
        <a class="btn btn-sm btn-success" href="/addProblem/<%= psetId %>">Add Problem</a>
    <% } %>
    <a href="/showCourse/<%= problemSet.courseId %>" class="btn btn-sm btn-primary">Back to List of Problem Sets</a>
    <% if ((user.taFor).indexOf(problemSet.courseId)>=0) { %>
      <a class="btn btn-sm btn-warning" href="/gradeProblemSet/<%= problemSet._id %>">Grade Problem Set </a>
    <% } %>




<%- include('bootfooter') -%>
