<%- include('bootheader') -%>
<% if (loggedIn) { %>
   <%- include('menubar') -%>
<% } %>

    <div class="jumbotron">
        <h1>Peer Review App</h1>
        <p>Promoting Engaged Learning</p>
    </div>
    <% if (!loggedIn){ %>
        <h2>You must login to use the Peer Review App:
         <a class="btn btn-lg btn-danger" href="/auth/google"> Login</a>
         </h2>
    <% } else {%>
        <form method="post" action="/joinClass">
        Enroll in a class:
        <input type="input" name="classPin" placeholder="7 digit pin"s>
        </form>
        <hr>
        <div class="row">
            <div class="col bg-warning">
                <h2>Classes I'm taking</h2>
                <ul>
                <% for(i = 0; i<= classesTaken.length-1; i++){  %>
                    <li>
                        <a href="/showClass/<%= classesTaken[i]._id %>">
                            <%= classesTaken[i].name %>
                        </a>
                    </li>
                <% } %>
                </ul>
            </div>
            <div class="col bg-primary">
                <h2>Classes I'm TAing</h2>
                <ul>
                <% for(i = 0; i<= classes.length-1; i++){  %>
                    <li>
                        <a href="/showClass/<%= classes[i]._id %>">
                            <%= classes[i].name %>
                        </a>
                    </li>
                <% } %>
                </ul>
            </div>
            <div class="col bg-danger">
                <h2>Classes I'm Teaching</h2>
                <ul>
                <% for(i = 0; i<= classes.length-1; i++){  %>
                    <li>
                        <a href="/showClass/<%= classes[i]._id %>">
                            <%= classes[i].name %>
                        </a>
                    </li>
                <% } %>
                </ul>
            </div>
        </div>



    <%} %>

<%- include('bootfooter') -%>
