<%- include('bootheader') -%>
<%- include('menubar') -%>
    <h2>The Problem you reviewed</h2>
    <small>Submission time and date:<%= problem.createdAt %> </small>
    <pre class="bg-success      "><%= problem.problemText %></pre>
    <br>
    <h2>Your reviews of other's answers</h2>
    <ul>
    <% for(i = 0; i<= usersReviews.length-1; i++){  %>
        <li style="margin-top:30px"> An answer:

              <% let answers =
                 usersReviewedAnswers.filter(
                   (a)=> (a._id.equals(usersReviews[i].answerId))
                 )
                 let answer = answers[0]
              %>
              <pre class="bg-default"
                   style="border:thin solid black; white-space: pre-wrap; font-family:monospace; padding:10px"
               ><%= answer.answer %></pre>
               Reviews:<br>
            <ul>
                <% for(let j=0; j< allReviews.length; j++){
                      let rev = allReviews[j]
                      if (!rev.answerId.equals(answer._id)){
                          continue
                      }
                    %>
                <li>
                    likes: <%= rev.upvoters.length %>
                      .... grade:
                    <%= rev.points %>/<%= problem.points %>pts
                    <% if (rev.reviewerId.equals(user._id)) {%>
                        YOUR REVIEW!!
                        <div style="background:rgb(220,120,255); padding:5px">
                    <% } else { %>
                        <div style="background:rgb(120,220,255); padding:5px">
                    <% } %>


                        <%= rev.review %>
                    </div>
                </li>
                <% } %>
            </ul>
        </li>
    <% } %>
    </ul>
    <hr>
    <a href="/reviewAnswers/<%= problem._id %>" class="btn btn-small btn-warning">Review others answers</a>
    <a href="/showProblem/<%= problem._id %>" class="btn btn-small btn-danger">Back to the Problem</a>
    <a href="/showProblemSet/<%= problem.psetId %>" class="btn btn-small btn-primary">Back to the Problem Set</a>



<%- include('bootfooter') -%>
