<%- include('bootheader') -%>
<%- include('menubar') -%>
    <h2>The Problem you reviewed</h2>
    <small>Submission time and date:<%= problem.createdAt %> </small>
    <pre class="bg-success      "><%= problem.problemText %></pre>
    <br>
    <h2>Your reviews of other's answers</h2>
    <ul>
    <% for(i = 0; i<= usersReviews.length-1; i++){  %>
        <li style="border-top:thick dashed black; padding:20px"> their answer:

              <% let answers =
                 usersReviewedAnswers.filter(
                   (a)=> (a._id.equals(usersReviews[i].answerId))
                 )
                 let answer = answers[0]
              %>

              <pre class="bg-info"><%= answer.answer %></pre>
            your review: <%= usersReviews[i].points %>/<%= problem.points %>pts
            <a href="/showReviewsOfAnswer/<%= answer._id %>">
                all Reviews of answer <%= i %>
            </a>
            <pre style="border:thick solid green"
                 class="bg-warning"><%= usersReviews[i].review %></pre>
            <hr>
        </li>
    <% } %>
    </ul>
    <hr>


<%- include('bootfooter') -%>
