<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Statistics</h1>
    </div>
    <ul>
        <li> <%= courseCount %> courses created</li>
        <li> <%= userCount %> users registered </li>
        <li> <%= problemCount %> problems created </li>
        <li> <%= answerCount %> answers submitted </li>
        <li> <%= reviewCount %> answers reviewed </li>
    </ul>
<%- include('bootfooter') -%>
